/* 
Open Sans
Oswald
    400
    500
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
#0A090C
#F0EDEE
*/
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.total-time {
    background-color: #0A090C;
    color: #F0EDEE;
}

.split-time {
    background-color: #F0EDEE;
    color: #0A090C;
}

h2 {
    font-family: 'Oswald', sans-serif;
}